[workspace]
members = [".", "client"]

[workspace.dependencies]
serde = { version = "1.0.163", default-features = false, features = ["std", "derive"] }
thiserror = { version = "1.0.40", default-features = false }
uuid = { version = "1.3.3", default-features = false, features = ["v4", "fast-rng", "serde"] }

[package]
name = "sandkasten"
version = "0.0.5"
edition = "2021"
publish = false

[profile.release]
strip = true
lto = true
codegen-units = 1

[dependencies]
anyhow = { version = "1.0.71", default-features = false, features = ["std"] }
config = { version = "0.13.3", default-features = false, features = ["toml", "json"] }
key-rwlock = { version = "0.1.0", default-features = false }
once_cell = { version = "1.17.1", default-features = false }
poem = { version = "1.3.55", default-features = false, features = ["server"] }
poem-ext = { version = "0.6.0", default-features = false }
poem-openapi = { version = "2.0.26", default-features = false, features = ["swagger-ui", "redoc", "uuid"] }
postcard = { version = "1.0.4", default-features = false, features = ["use-std"] }
regex = "1.8.2"
sandkasten-client = { path = "client", default-features = false, features = ["poem-openapi"] }
serde.workspace = true
sha2 = { version = "0.10.6", default-features = false }
thiserror.workspace = true
tokio = { version = "1.28.1", default-features = false, features = ["rt-multi-thread", "macros", "process", "time"] }
tracing = { version = "0.1.37", default-features = false }
tracing-subscriber = { version = "0.3.17", default-features = false, features = ["fmt", "ansi"] }
uuid.workspace = true

[dev-dependencies]
indoc = { version = "2.0.1", default-features = false }
proptest = "1.2.0"
sandkasten-client = { path = "client", default-features = false, features = ["reqwest", "blocking"] }

[features]
nix = []
test_api = []
