name: automerge

on: pull_request

permissions:
  pull-requests: write
  contents: write

jobs:
  automerge:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]' || github.event.pull_request.pull_request.title == 'Update flake.lock'
    steps:
      - name: Enable Pull Request Automerge
        run: gh pr merge --squash --auto --repo "${{ github.repository }}" "${{ github.event.pull_request.number }}"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
